h2 {
  display: flex;
  justify-content: center;
}

.error {
  color: red;
  border: 5px solid red;
  margin-top: 5px;
}

.fa-triangle-exclamation {
  margin-left: 15px;
}

.error-message {
  margin-left: 15px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

textarea {
  border: none;
  background: none;
  outline: none;
  resize: none;
  width: 1000px;
  border-bottom: 2px solid black;
}

.new-tweet-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.tweet-btn {
  font-family: 'Bungee', cursive;
  background-color: #4056A1;
  color: white;
}

.counter {
  font-family: 'Bungee', cursive;
}