nav {
  position: fixed;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
  font-size: 40px;
 }

 .nav-right {
  display: flex;
  align-items: center;
  flex-direction: column;
 }

 .nav-link {
  font-family: 'Source Sans Pro';
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  margin: 0;
 }

 .bold {
  font-weight: bold;
 }